.bio {
    font-size: 40px;
    font-style: italic;
    text-align: left;
  
    
}

.Toxenlabs {
    font-size: larger;
    font-style: uppercase;
    font-size: 90;
    color: rgb(255, 183, 76);
    background-color: rgb(255, 255, 255);
    
}